{
	auto_https off
	admin off
}

:{$CLIENTSHELL_PORT} {
	root * {$CLIENTSHELL_ROOT}
	encode gzip zstd

	@runtime_config path /env-config.js
	header @runtime_config Cache-Control "no-store, no-cache, must-revalidate, max-age=0"

	try_files {path} /index.html
	file_server
}
